
:root{
    --light-white:white;
    --light-black:black;
    --dark-white:white;
    --dark-black:black;
    --light-background:linear-gradient(-30deg,#005AA7 , #FFFDE4);
    --dark-background:linear-gradient(-30deg,#0F2027,#203A43 , #2C5364);
    --navrbar-color:rgba(248, 249, 250, 0.686);
    --navbarcolor-dark:rgba(0, 0, 0, 0.355);
    --darkbutton-backgroundcolor-light:white;
    --darkbutton-backgroundcolor-dark: #485461;
    --footer-color-lightmode:white;
    --footer-color-darkmode:wheat;
}


 @media (prefers-color-scheme: dark) {
#inputGroupSelect01{
  background-color:red;
  color:White;
}
} 


.darkmode{
    --light-white:var(--dark-black);
    --light-black:var(--dark-white);
    --light-background:var(--dark-background);
    --navrbar-color:var(--navbarcolor-dark);
    --darkbutton-backgroundcolor-light:var(--darkbutton-backgroundcolor-dark);
    --footer-color-lightmode:var(--footer-color-darkmode);

}

body{
    font-size: 28px;
    font-family: 'Raleway', sans-serif;
    /* background-color: black; */
    /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.757); */
    background-image: var(--light-background);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
h2{
    color: var(--light-black);
}
#NavBarId{
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.324);
    background-color:var(--navrbar-color) !important;;
}
.dark-button{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:15px;
    width: 35px;
    height: 35px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.264);
    font-size: 18px;
    color:var( --light-black);
    background-color: var(--darkbutton-backgroundcolor-light);
}
.footercont{

    /*position: absolute;*/
    bottom: 0px;
    width: 100%;
    font-size: 12px;
    font-weight: 500;
    color:var(--footer-color-lightmode);
}

.AppBodyClass{
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.324);
    display: flex;
    width: 96%;
    background-color: rgba(99, 99, 99, 0.111);
    height: 89vh;
    margin-left: auto;
    margin-right: auto;
    color: var(--light-black);
    border-radius: 15px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: .5vh;
}
.AppHeaderClass{
   font-size: 18px;
   font-family: 'Noto Sans Arabic', sans-serif;
    text-align:center;
    font-weight: 500;
   color:var(--light-black);
}


.AppHeaderClass img{  
  
 border-radius:15px;  
 } 

.AppBodyFunctionClass{
    font-family: 'Noto Sans Arabic', sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:5px;
    color: var(--light-black);
    font-weight: 500;
    
}
.AppBottomClass{
    font-size: 21px;
    color: var(--light-black);
}

@media only screen and (max-width: 600px) {
    .AppBodyClass{
        height: auto;
    }
    .footercont{
    height: 7vh;
    background-attachment: fixed;
    }
    #resultid{
        font-size: 18px;
/*         padding:2px; */
        margin:3px;
      }
  }



  #UnderDevelopingClass{
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(15px);
    z-index: 1;
      color: var(--light-black);
  }

  #UnderDevelopingClass p{
    font-family: 'Noto Sans Arabic', sans-serif;
    font-size: 16px;
    text-align: center;
      color: var(--light-black);
  }

  .navbar-brand{
    font-family: 'Rubik', sans-serif;
      color: var(--light-black);
  }
  #resultid{
    text-align: center;
    color: var(--light-black);
    font-family: 'Noto Sans Arabic', sans-serif;
    font-weight: 500;
/*     padding:5px; */
  }

  #resultid:empty{
    display:none;
    grid-area:header;
/*     padding:5px; */
  }

